.clientsSay {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 30px;

    .leftSide {
        background-color: rgb(74, 85, 98);
        color: white;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        gap: 30px;

        .header {
            padding-top: 15%;
            font-size: 30px;
        }

        .text {
            color: rgb(121, 136, 153);
            width: 60%;
        }

    }

    .rightSide {
        .slide {


            .splide__pagination__page.is-active {
                background-color: rgb(83, 211, 151);
            }


            .card {
                width: 300px;
                height: 500px;
                border: 1px solid rgb(219, 219, 219);
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                padding: 10px;
                text-align: center;

                .image {
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                    position: relative;

                    .icon {
                        position: absolute;
                        width: 45px;
                        height: 45px;
                        background-color: rgb(83, 211, 151);
                        border-radius: 50%;
                        bottom: 0;
                        right: 0;

                        i {
                            font-size: 24px;
                            padding-top: 10px;
                            color: white;
                        }
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }

                .text {
                    width: 80%;
                    color: rgb(121, 136, 153);

                }

                .personInfo {
                    .name {
                        padding-bottom: 10px;
                        color: rgb(83, 211, 151);

                    }

                    .proffesion {
                        color: rgb(121, 136, 153);

                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .clientsSay {
        grid-template-columns: 1fr;
        padding: 20% 0;
        justify-content: center;
        align-items: center;

        .leftSide{
            padding: 5%;
        }
        .rightSide {
            .slide {
                .card{
                    margin: 0 auto;
                }
            }
        }
    }
}