.portfolio {
    width: 80%;
    margin: 0 auto;
    padding: 10% 0;
    min-height: 160vh;
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;
    gap: 40px;

    .leftSide {
        width: 25%;
        height: 100%;

        h1 {
            font-size: 40px;
            font-weight: 400;
        }

        .description {
            padding: 5% 0;
            font-size: 18px;
            color: #798899;
        }


        .imagesCont {
            // height: 100%;
            display: grid;
            grid-template-rows: 2fr 1fr 1fr;
            gap: 25px;

            .number1 {
                height: 100%;
            }

            .number2 {
                height: 100%;
            }

            .number3 {
                height: 100%;
            }
        }

        .card {
            width: 100%;
            position: relative;
            overflow: hidden;

            &:hover .cardOverlay {
                opacity: 1;
            }

            .cardOverlay {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                opacity: 0;
                transition: .4s;
                background-color: rgba(0, 0, 0, 0.452);

                .icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%);
                    color: white;
                }

                .text {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding: 10px;
                    color: white;

                    .residence {
                        margin-bottom: 5px;
                        font-size: 14px;
                    }
                }
            }

            &:hover img {
                scale: 1.2;
            }

            img {
                transition: .4s;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }


    }

    .rightSide {
        width: 70%;
        height: 100%;

        .imagesCont {
            display: grid;
            grid-template-rows: 2fr 1fr 1fr;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 72px;
            width: 100%;

            .secondRow {
                display: flex;
                // flex-wrap: wrap;

                gap: 40px;
            }

            .thirdRow {
                display: flex;
                // flex-wrap: wrap;

                gap: 30px;
            }

            .card {
                position: relative;
                width: 100%;
                overflow: hidden;
                height: 100%;

                &:hover img {
                    scale: 1.2;
                }

                &:hover .cardOverlay {
                    opacity: 1;
                }

                .cardOverlay {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    transition: .4s;
                    background-color: rgba(0, 0, 0, 0.452);

                    .icon {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%);
                        color: white;
                    }

                    .text {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        padding: 10px;
                        color: white;

                        .residence {
                            margin-bottom: 5px;
                            font-size: 14px;
                        }
                    }
                }

                img {
                    transition: .4s;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                }

                .cardOverlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }

            .number1 {
                height: 506px;
            }

            .number2 {
                height: 263px;
            }

            .number3 {
                height: 263px;
            }

            .number4 {
                height: 303px;
                width: 60%;
            }

            .number5 {
                height: 303px;
                width: 40%;
            }
        }
    }
}

@media only screen and (max-width: 1250px) {
    .portfolio {
        flex-direction: column;
        justify-content: center;

        .leftSide {
            width: 100%;
        }

        .rightSide {
            width: 100%;
        }
    }
}