.services {
    display: grid;
    grid-template-columns: 2fr 3fr;
    // column-gap: 10px;
    min-height: 105vh;

    .categoriesContainer {
        background-color: #4a5562;
        display: grid;
        justify-content: center;

        .categoriesContent {
            height: 35%;
            padding: 50% 0;
            color: white;

            h1 {
                margin-bottom: 40px;
                position: relative;
                font-weight: 400;
                font-size: 30px;

                &::before {
                    content: "";
                    position: absolute;
                    width: 40%;
                    border-bottom: 2px solid #53d397;
                    bottom: 0;
                    left: 0;
                }
            }

            .categoriesButton {
                div {
                    height: 40px;
                    width: 150px;
                    display: flex;
                    margin: 20px;
                    gap: 5px;
                    font-size: 25px;
                    position: relative;
                    transition: .4s;

                    &:hover {
                        cursor: pointer;
                        font-size: 28px;
                        color: #798899;

                        i {
                            font-size: 27px;

                        }

                        * {
                            color: #798899;
                        }
                    }
                }
            }
        }
    }

    .getStarted {
        background-image: url("../../../assets/images/bg_1.jpg.webp");
        background-position: center;
        width: 80%;


        .getStartedContent {
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }

        .text {
            font-weight: 400;
            font-size: 30px;
            color: white;
        }

        // height: 40%;
        .commonButton {
            width: max-content;
            background-color: white;
            border: 1px solid white;
            color: #000000;
            margin-right: 5%;

            &:hover {
                color: white;
            }
        }
    }

    .information {
        animation-name: balacalas;
        animation-duration: 550ms;
        animation-fill-mode: backwards;

        @keyframes balacalas {
            0% {
                opacity: 0;
                scale: 0.1;
            }

            100% {
                opacity: 1;
                scale: 1;
            }
        }

        .choosenCategory {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 90%;
            margin: 5% 5% 10% 15%;

            h1 {
                font-size: 35px;
                font-weight: 400;
                padding: 5% 0;
            }

            .icon {
                i {
                    font-size: 120px;
                }
            }

            .categoryInfo {
                width: 60%;
                row-gap: 5px;
                line-height: 1.5;
                color: #798899;
                font-size: 24px;
            }

            .commonButton {
                background-color: #4a5562;
                border: 1px solid #4a5562;
                color: white;
                margin-top: 10px;
                padding: 24px 50px;

                &:hover {
                    color: black;
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .services {
        grid-template-columns: 1fr;
        padding: 20% 0;
        justify-content: center;
        align-items: center;
        .getStarted{
            margin: 0 auto;
        }
    }
}