.services {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 10px;
    height: 80vh;

    .categoriesContainer {
        background-color: #4a5562;
        display: grid;
        justify-content: center;

        .categoriesContent {
            height: 35%;
            padding: 50% 0;
            color: white;

            h1 {
                margin-bottom: 40px;
                position: relative;
                font-weight: 400;

                &::before {
                    content: "";
                    position: absolute;
                    width: 40%;
                    border-bottom: 2px solid #53d397;
                    bottom: 0;
                    left: 0;
                }
            }

            .categoriesButton {
                div {
                    padding: 15% 15%;
                    display: flex;
                    gap: 5px;
                }
            }
        }
    }

    .information {
        .choosenCategory {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 90%;
            margin: 5% 5% 10% 5%;

            h1 {
                font-size: 35px;
                font-weight: 400;
                padding: 5% 0;
            }

            .icon {
                i {
                    font-size: 120px;
                }
            }

            .categoryInfo {
                width: 80%;
                row-gap: 5px;
                line-height: 1.5;

            }

            .button {
                margin-top: 15px;
                width: max-content;
                margin-top: 15px;
                background-color: #4a5562;
                padding: 20px 30px;



                span {
                    width: max-content;

                    color: white;
                }
            }
        }
    }
}